[package]
name = "raytracer"
version = "0.1.0"
edition = "2021"

[profile.release]
debug = true

[profile.release-lto]
inherits = "release"
lto = "fat"
debug = false
codegen-units = 1

[dependencies]
png = "0.17.11"
rayon = "1.8.0"
saphyr = "0.0.3"
