name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run tests
        run: cargo test

  regression_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg libfontconfig-dev

      - name: Install ssimulacra2_rs
        run: cargo install ssimulacra2_rs --no-default-features

      - name: Check ssimulacra2_rs
        run: ssimulacra2_rs --help

      - name: Check FFmpeg
        run: ffmpeg -version

      - name: Run regression tests
        run: python3 regression_test.py test --hide-progress-bars

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Clippy linter
        run: cargo clippy --tests -- -D warnings

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check formatting
        run: cargo fmt -- --check
